<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/quiz.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <button class="item-num clicked">1</button>
      <button class="item-num">2</button>
      <button class="item-num">3</button>
      <button class="item-num">4</button>
      <button class="item-num">5</button>
      <button class="item-num">6</button>
      <button class="item-num">7</button>
      <button class="item-num">8</button>
      <button class="item-num">9</button>
    </nav>
    <div id="container"></div>
    <script src="js/image-sentences.js"></script>
  </body>
</html>